<h1 class='center'>Scripts</h1>

<% if @myscripts.blank? %>
  <h3><%= link_to 'Upload a Script!', new_script_path %></h3>
<% else %>
  <%= render 'scripts', scripts: @myscripts, header: 'Uploaded Scripts' %>
<% end %>

<%= render 'scripts', scripts: @my_starred_scripts, header: 'Starred Scripts' unless @my_starred_scripts.blank? %>

<%= render 'scripts', scripts: @scripts, header: 'All Scripts' %>