<div class="center">
  <div class='holes'>
    <div class='hole'></div>
    <div class='hole middle-hole'></div>
    <div class='hole'></div>
  </div>

  <h1 class='home-title'>Script Garden</h1>
  <div class='tagline' data-title="<%= @tagline.last %>">
    <p><%= @tagline.first %></p>
  </div>

  <div class='summary'>
    <p class='center'>Script Garden is a place for screenwriters to share their work and get feedback from peers. It's also a place for industry professionals to find the next great script! Grow your skills and your network in the Script Garden.</p>
    
  </div>
  <div class='signup'>
    <p>Email me to receive an update when we launch.</p>
    <%#= form_for %>
    <strong>mrdougwright on gmail</strong><br>
    <small>app by Doug Wright</small>
  </div>
</div>