/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Cousine);
@font-face {
  font-family: 'courier';
  src: url('/assets/courier.ttf') format('truetype');
}

body {
  font-family: 'courier', 'Cousine', Helvetica;
}

body a {
  text-decoration: none;
}

table, th, td {
  border: 1px solid #DCD2D2;
  border-spacing: 0;
  width: 80%;
}
form {
  background-color: #E5E6E6;
  padding: 10px;
  border-radius: 3px;
}
form input, form textarea {
  font-family: 'courier', 'Cousine', Helvetica;
  padding: 8px;
  margin: 6px 0;
  font-size: 14px;
  border: none;
  background-color: #BFD7F1;
  width: 95%;
}
form input:focus, form textarea:focus {
  background-color: white;
}
form input[type='submit'] {
  cursor: pointer;
  min-width: 100px;
  background-color: rgb(26, 109, 199);
  color: white;
  font-size: 18px;
  border: 1px solid #569BE6;
  border-radius: 3px;
}
form input[type='submit']:hover {
  background-color: rgb(82, 148, 220);
  color: gray;
}


.form {
  width: 300px;
}
.form .actions {
  text-align: center;
  margin: 10px 0 5px;
}
.form .field {
  margin: 6px 0;
}

.alert {
  color: red;
}

.small {
  font-size: 12px;
}

.nav_menu {
  width: 100%;
  list-style: none;
  display: inline-block;
  background-color: rgba(127,144,139,0.16);
  padding: 5px 0;
  -webkit-padding-start: 0;
}

.nav_menu li {
  float: right;
  padding: 0 20px;
  text-decoration: none;
}

.container {
  margin: 0 2%;
  clear: both;
}

.script-table th, td {
  padding: 15px;
}


.float-left{
  float: left;
}
.center {
  text-align: center;
  margin: 0 auto;
}